# --- Environment Variables (CRITICAL) ---
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs & Databases ---
*.log
*.sqlite
instance/

# --- Models ---
outputs/train/best_cloud_subteam_classifier_model_*.pkl
outputs/train/best_main_team_classifier_model_*.pkl
outputs/train/cloud_subteam_*.csv
outputs/train/main_team_*.csv
outputs/train/best_vs_bundle_predictions.csv
outputs/train/best_vs_bundle_report.csv

# --- Scripts ---
app/db/script/recommend/v*